@import "tailwindcss";


#root{
    font-family: "TikTok Sans", sans-serif;
}

/* .tiktok-sans-<uniquifier> {
  font-family: "TikTok Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100;
} */